<h1 class="storefront-title"> All Series</h1>

<div class ="masonary-row row">
	<% @groups.each do |s| %>
		<div class="col-xs-12 col-sm-6 col-lg-6">
			<div class="panel center-it">
				
			<%= link_to groups_fineart_path(name: s.name) do %>
				<%= image_tag s.image , class: "storefront-pic" %>
			<% end %>

				<h3 class="storefront-text"><%= s.name %></h3>
				<p class="storefront-text"><%= s.description %></p> 
		
			</div>
		</div>
	<% end %>
</div>

