

<div class="row">
	<% @series.each do |s| %>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="panel center-it">
				
			
				<%= image_tag s.image, class: "storefront-pic" %>
				<h3  class="storefront-text"><%= s.name %></h3>
				<p class="storefront-text"><%= s.description %></p> 
			

			</div>
		</div>
	<% end %>
</div>