
<h3><%= @sereies %></h3>


<div class ="masonary-row row">
	<% @products.each do |p| %>

		<div class="col-xs-12 col-sm-6 col-lg-6">
				<div class="panel center-it">


					<%= image_tag p.image, class: "thumb" %>
					<%= p.name%>
				</div>


		</div>
	<% end %>
</div>
